# This snippet is from 
# @source http://stackoverflow.com/a/987162/2042871
# Ignore everything
*

# But not these files...
!*/
!.gitignore
!LICENSE
!README.md
!*.sh
!*.ulp

# Even if they are in subdirectories
**/
